{#            Third Column #}
<div class="font-bold">Account Information</div>
<div>My Account</div>
<div>Login</div>
<div>Register</div>
<div>FAQ</div>
<div>Contact Us</div>
<div>Refunds Policy</div>
<div>Delivery</div>
<div>Terms & Conditions</div>
<div>Affiliates</div>
<div>Privacy Policy</div>