<footer class="w-full">
    <div class="bg-gray-200 flex flex-col items-center justify-center py-12">
        <form class="pb-24 w-6/12" action="">
            <input class="w-full " type="text">
        </form>
        <div class="grid grid-flow-col w-8/12 mx-auto">
            <div class="flex flex-col ">
               {%  include '_layouts/components/footer/first' %}
            </div>
            <div class="flex flex-col space-y-2">
                {%  include '_layouts/components/footer/second' %}

            </div>
            <div class="flex flex-col space-y-2">
                {%  include '_layouts/components/footer/third' %}


            </div>
            <div class="flex flex-col">
                {%  include '_layouts/components/footer/fourth' %}


            </div>

        </div>
    </div>
    <div class="bg-slate-800 w-full text-slate-400">
        <div class="flex justify-between w-6/12 mx-auto py-3">
            <div class="">
                Think!Creative
            </div>
            <div>Payment Types</div>
        </div>
    </div>
</footer>